{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Cliente 1</h1>
        <p>
            Un gato
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/nicecat.jfif" class="img-thumbnail">
    </div>

    <div class="col-8">
        <h1>Cliente 2</h1>
        <p>
            Otro gato
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/descarga.jfif" class="img-thumbnail">
    </div>

    <div class="col-8">
        <h1>Cliente 3</h1>
        <p>
            No es un gato
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/birb.jfif" class="img-thumbnail">
    </div>
</div>







