{{> head }}



{{> navbar }}



<div class="jumbotron">
    <h1 class="display-4">Lista de páginas, Lab 04 {{ capitalizar nombre }}</h1>
    <div>
        <ul class="list-unstyled">
            <li> <a href="/clientes">Clientes</a></li>
            <li> <a href="productos">Productos</a></li>
        </ul>
    </div>

</div>