
{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Producto 1</h1>
        <p>
            Comida de perro
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/dogfood.jpg" class="img-thumbnail">
    </div>

    <div class="col-8">
        <h1>Cliente 2</h1>
        <p>
            Birb food
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/birbfood.jfif" class="img-thumbnail">
    </div>

    <div class="col-8">
        <h1>Cliente 3</h1>
        <p>
            No es un gato
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/catto.jpg" class="img-thumbnail">
    </div>
</div>


